<footer class="bg-dark mt-5" style="background-image: url('static/images/footer.jpg'); background-size: cover; background-position: center;">
    <div class="container-fluid">
        <div class="card border-0 bg-transparent text-white">
          <div class="row">
              <div class="col-md-8 p-5 pb-2">
                  <h2 class="card-title fw-normal">Deliver World-Class Offshore and Technical Training</h2>
                  <h5 class="card-title fw-normal mt-3">Learn comprehensive courses, reach professionals globally, and advance your career.</h5>
              </div>
              <div class="col-md-4 p-5 text-end">
                  <a href="#" type="button" class="btn btn-light fw-bold rounded-0">Learn On LB</a>
              </div>
          </div>
        </div>
        <hr style="background-color: #75D457; height: 3px;">
        <div class="row row-cols-1 row-cols-md-4 g-2 mt-1" >
            <div class="col p-2">
                <div class="card bg-transparent border-0">
                  <div class="card-body text-white">
                    <h4 class="card-title fw-bold mb-3">Support</h4>
                    <h5 class="card-title fw-normal"><a href="#" class="footerLink">  Terms & Conditions</a></h5>
                      <h5 class="card-title fw-normal"><a href="#" class="footerLink">Privacy Policy</a></h5>
                      <h5 class="card-title fw-normal"><a href="#" class="footerLink">Feedback</a></h5>
                      <h5 class="card-title fw-normal"><a href="#" class="footerLink">Appeal & Complaints</a></h5>
                      <h5 class="card-title fw-normal"><a href="#" class="footerLink">Transparency Statements</a></h5>
                  </div>
                </div>
            </div>
            <div class="col p-2">
                <div class="card bg-transparent border-0">
                  <div class="card-body text-white">
                    <h4 class="card-title fw-bold mb-3">Quick Links</h4>
                    <h5 class="card-title fw-normal"><a href="#" class="footerLink">Home</a></h5>
                    <h5 class="card-title fw-normal"><a href="#" class="footerLink">Services</a></h5>
                    <h5 class="card-title fw-normal"><a href="#" class="footerLink">Contact Us</a></h5>
                  </div>
                </div>
            </div>
            <div class="col p-2">
                <div class="card bg-transparent border-0">
                  <div class="card-body text-white">
                    <h4 class="card-title fw-bold mb-3">Partner Profile </h4>
                    <h5 class="card-title fw-normal"><a href="/partner-profile#individuals" class="footerLink">Individual</a></h5>
                      <h5 class="card-title fw-normal"><a href="/partner-profile#forBusinesses" class="footerLink">For Businesses</a></h5>
                      <h5 class="card-title fw-normal"><a href="/partner-profile#forGovernments" class="footerLink">For Government</a></h5>
                  </div>
                </div>
            </div>
            <div class="col p-2">
                <div class="card bg-transparent border-0">
                <div class="card bg-transparent border-0">
                  <div class="card-body text-white">
                    <h4 class="card-title fw-bold mb-3">Follow Us On:</h4>
                    <h5 class="card-title fw-normal">
                        <a href="#" class="footerLink">
                            <i class='bx bxl-facebook fs-4 me-3' ></i>
                        </a>
                        <a href="#" class="footerLink">
                            <i class='bx bxl-instagram fs-4 me-3' style='color:#ffffff'></i>
                        </a>
                        <a href="#" class="footerLink">
                            <i class='bx bxl-linkedin fs-4 me-3' style='color:#ffffff'></i>
                        </a>
                        <a href="#" class="footerLink">
                            <i class='bx bxl-youtube fs-4 me-3' style='color:#ffffff' ></i>
                        </a>
                        <a href="#" class="footerLink">
                            <img width="24" height="20" class="mb-2" src="https://img.icons8.com/ios-filled/50/ffffff/twitterx--v2.png" alt="twitterx--v2"/>
                        </a>
                    </h5>
                  </div>
                </div>
                    <div class="card rounded-4 border-0 bg-transparent">
                      <div class="card-body">
                        <h5 class="card-title fw-medium text-white">Payment Options</h5>
                      </div>
                        <div class="row row-cols-5 row-cols-md-5 g-2">
                          <div class="col">
                            <div class="card rounded-2 h-100 p-3" style="max-width: 5rem;">
                              <img src="static/images/master.png" class="card-img-top" alt="...">
                            </div>
                          </div>
                          <div class="col">
                            <div class="card rounded-2 h-100 p-3" style="max-width: 5rem;">
                              <img src="static/images/visa.png" class="card-img-top" alt="...">
                            </div>
                          </div>
                          <div class="col">
                            <div class="card rounded-2 h-100 p-3" style="max-width: 5rem;">
                              <img src="static/images/card2.png" class="card-img-top" alt="...">
                            </div>
                          </div>
                          <div class="col">
                            <div class="card rounded-2 h-100 p-3" style="max-width: 5rem;">
                              <img src="static/images/google-pay.png" class="card-img-top" alt="...">
                            </div>
                          </div>
                          <div class="col">
                            <div class="card rounded-2 h-100 p-3" style="max-width: 5rem;">
                              <img src="static/images/credit-card.png" class="card-img-top" alt="...">
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <h4 class="card-title fw-bold mb-3 text-white">Whatsapp QR</h4>
                <a href="#">
                <div class="card rounded-4 border-0" title="QR Code for Contact Us" style="max-width: 10rem;">
                    <img src="static/images/qr.png" class="card-img rounded-4" alt="...">
                </div>
                </a>
            </div>
            <div class="col-md-3 text-start">
                <h4 class="card-title fw-bold mb-3 text-white">Contact QR</h4>
                <a href="#">
                <div class="card rounded-4 border-0" title="QR Code for Contact Us" style="max-width: 10rem;">
                    <img src="static/images/qr.png" class="card-img rounded-4" alt="...">
                </div>
                </a>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-md-6 p-5 pt-2 pb-2">
                <div class="card bg-transparent border-0">
                  <div class="card-body text-white ">
                    <img src="static/images/lloyds-bureau-horizontal-logo-color-2-rgb-1900px-w-72ppi.png" class="card-img-top" alt="..." style="max-height: 150px; max-width: 300px;">
                    <p class="card-text lh-base">SContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin li</p>
                  </div>
                </div>
            </div>
            <div class="col-md-6 p-5">
                <div class="card bg-transparent border-0">
                  <div class="card-body text-white text-end">
                    <p class="card-text">&#xa9; 2024 L B Certifications Pvt. Ltd</p>
                  </div>
                </div>
            </div>
        </div>
         <hr style="color: #75D457;">
        <div class="row">
            <div class="col-md-12 p-2 pt-2 pb-1">
                <div class="card bg-transparent border-0">
                  <div class="card-body text-white text-center">
                    <p class="card-text lh-base">Designed & Developed By
                        <a href="#" class="footerLink">InspireZest Technologies Pvt. Ltd</a>
                    </p>
                  </div>
                </div>
            </div>
        </div>
    </div>


</footer>
