{% extends 'base.html' %}
{% block title %}Home | L B Certifications Pvt. Ltd{% endblock %}ckground
{% block content %}

<!--    NAVS & TABS-->

<!-- HTML -->
<ul class="nav border-0 headerNav" id="myTab" role="tablist" style="background-color: #0C334A;">
  <li class="nav-item p-2" role="presentation">
    <p class="nav-link navTabs active p-3" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Individuals</p>
  </li>
  <li class="nav-item p-2" role="presentation">
    <p class="nav-link navTabs p-3" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">For Businesses</p>
  </li>
  <li class="nav-item p-2" role="presentation">
    <p class="nav-link navTabs p-3" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">For Governments</p>
  </li>
  <li class="nav-item navItem1 p-3 ms-auto">
    <div class="searchBox">
      <input class="searchInput" type="text" name="" placeholder="Search">
      <button class="searchButton" href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <section class="header position-relative">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">

          <!-- First Carousel Item -->
          <div class="carousel-item active">
            <div class="video-wrapper">
              <video class="background-video" autoplay muted loop>
                <source src="static/videos/AdobeStock379924761.mov" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="gradient-overlay"></div>
            <div class="carousel-caption-wrapper">
              <h4 class="fw-light text-white">Internationally recognized training programs and short courses</h4>
              <h1 class="lh-base heading-text">
                Building Careers, Enhancing Skills: Discover Our Industry-Leading Programs
              </h1>
              <div class="indicator" aria-label="">
                <span onclick="autoScrollToFooter()"></span> <!-- Added scroll down indicator -->
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>

          <!-- Second Carousel Item -->
          <div class="carousel-item">
            <div class="video-wrapper">
              <video class="background-video" autoplay muted loop>
                <source src="static/videos/AdobeStock226744648.mov" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="gradient-overlay"></div>
            <div class="carousel-caption-wrapper">
              <h4 class="fw-light text-white">Internationally recognized training programs and short courses</h4>
              <h1 class="lh-base heading-text">
                Building Careers, Enhancing Skills: Discover Our Industry-Leading Programs
              </h1>
              <div class="indicator" aria-label="">
                <span onclick="autoScrollToFooter()"></span> <!-- Added scroll down indicator -->
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>

          <!-- Third Carousel Item -->
          <div class="carousel-item">
            <div class="video-wrapper">
              <video class="background-video" autoplay muted loop>
                <source src="static/videos/AdobeStock168230318.mov" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div class="gradient-overlay"></div>
            <div class="carousel-caption-wrapper">
              <h4 class="fw-light text-white">Internationally recognized training programs and short courses</h4>
              <h1 class="lh-base heading-text">
                Building Careers, Enhancing Skills: Discover Our Industry-Leading Programs
              </h1>
              <div class="indicator" aria-label="">
                <span onclick="autoScrollToFooter()"></span> <!-- Added scroll down indicator -->
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon d-none" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon d-none" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>


        <section class="">
          <div class="container-fluid">
          <div class="card rounded-4 pt-5 pb-5 border-0 mt-5 mb-5" >

            <div class="container" data-aos="fade-up" data-aos-duration="1000">
                <div class="owl-carousel owl-theme carousel-2">
                  <div class="item p-2">
                    <div class="card rounded-4 homeCard">
                      <div class="card-body">
                        <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                      </div>
                      <div class="card-footer text-end">
                        <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                      </div>
                    </div>
                  </div>
                  <div class="item p-2">
                    <div class="card rounded-4  homeCard">
                      <div class="card-body">
                        <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                      </div>
                      <div class="card-footer text-end">
                        <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                      </div>
                    </div>
                  </div>
                  <div class="item p-2">
                    <div class="card rounded-4  homeCard">
                      <div class="card-body">
                        <h5 class="card-title fw-bold">ECITB International MJI: Hand Torque, Hydraulically Torque and Tension Bolted Connection Techniques (IMJI 10-20)</h5>
                      </div>
                      <div class="card-footer text-end">
                        <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                      </div>
                    </div>
                  </div>
                  <div class="item p-2">
                    <div class="card rounded-4  homeCard">
                      <div class="card-body">
                        <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                      </div>
                      <div class="card-footer text-end">
                        <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                      </div>
                    </div>
                  </div>
                  <div class="item p-2">
                    <div class="card rounded-4 homeCard">
                      <div class="card-body">
                        <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                      </div>
                      <div class="card-footer text-end">
                        <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

          </div>
          </div>

          <div class="container-fluid mb-5" data-aos="fade-up" data-aos-duration="1000">
          <div class="card rounded-4 border-0">
              <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-2 g-0 p-5">
                  <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <div class="card  bg-transparent border-0">
                      <div class="card-body">
                        <h3 class="card-title" style="color: #0C334A">Internationally</h3>
                        <h3 class="card-title" style="color: #0C334A">Accredited By</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <div class="card rounded-4 border-0">
                      <div class="owl-carousel owl-theme carousel-1">
                          <div class="item p-3">
                            <div class="card rounded-4 border-0">
                              <img src="static/images/9.webp" class="card-img-top rounded-4" alt="...">
                            </div>
                          </div>
                          <div class="item p-3">
                            <div class="card rounded-4 border-0" style="border: 1px solid #75D457;">
                              <img src="static/images/9.webp" class="card-img-top rounded-4 " alt="...">
                            </div>
                          </div>
                          <div class="item p-3">
                            <div class="card rounded-4   border-0">
                              <img src="static/images/9.webp" class="card-img-top rounded-4 " alt="...">
                            </div>
                          </div>
                          <div class="item p-3">
                            <div class="card rounded-4   border-0">
                              <img src="static/images/9.webp" class="card-img-top rounded-4 " alt="...">
                            </div>
                          </div>
                          <div class="item p-3">
                            <div class="card rounded-4   border-0">
                              <img src="static/images/9.webp" class="card-img-top rounded-4 " alt="...">
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="container-fluid position-relative">
        
            <!-- Content Section -->
            <div class="card rounded-4 pt-5 pb-5 border-0 position-relative" 
                 style="background: #0C334A; z-index: 2;">
                             <!-- Background Image Layer -->
            <div 
            class="bg-image-layer position-absolute w-100 h-100"
            style="background-image: url('static/images/lloyds-bureau-horizontal-logo-white-rgb-1900px-w-72ppi.png'); 
                   background-position: center; 
                   background-size: contain ;
                   opacity: 0.06; 
                   top: 10px;
                   z-index: 1;">
          </div>
              <div class="container">
                <div 
                  class="row row-cols-1 row-cols-md-2 g-4 p-4 align-items-stretch"
                  data-aos="fade-up" 
                  data-aos-duration="1000">
        
                  <!-- Left Container -->
                  <div class="col d-flex">
                    <div class="card bg-transparent border-0 text-white w-100">
                      <div class="card-body d-flex flex-column">
                        <h1 class="fw-bold mb-3" style="font-size: 40px;">Get to know us</h1>
                        <p class="lh-lg" style="font-size: 15px;">
                          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                          and scrambled it to make a type specimen book.
                        </p>
                        <div class="">
                          <button class="btn btn-light mt-3" style="border-radius: 10px; height: 50px; text-align: center;">Explore More</button>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  <!-- Right Container -->
                  <div class="col d-flex">
                    <div class="card bg-transparent border-0 text-white w-100">
                      <div class="card-body">
                        <ul class="list-unstyled">
                          <li class="pb-3 mt-3">
                            <h4 class="custom-h4">Who we are</h4>
                          </li>
                          <li class="pb-3 mt-3">
                            <h4 class="custom-h4">Our Quality Statement</h4>
                          </li>
                          <li class="pb-3 mt-3">
                            <h4 class="custom-h4">Our Impartiality Statement</h4>
                          </li>
                          <li class="pb-3 mt-3">
                            <h4 class="custom-h4">Our Commitments</h4>
                          </li>
                          <li class="pb-3 mt-3">
                            <h4 class="custom-h4">Certification and Accreditations</h4>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
        
                </div>
              </div>
            </div>
          </div>
        </section>         

        <section class="mt-5 mb-5">
          <div class="container-fluid">
            <div class="card rounded-4 pt-5 pb-5 border-0" >
          <div class="container" data-aos="fade-up" data-aos-duration="1000">
  
            <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Most <span style="color: #75D457">Demanded</span> Courses</h2>
            <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px; ">Elevate Your Skills with Our Top-Rated Programs</h6>
  
            <div class="row row-cols-1 row-cols-md-4 g-4">
              <div class="col">
                  <div class="card cardCourse p-3 h-100">
                    <div class="cardImage" style="background-image: url('static/images/2148784052.jpg');"></div>
                    <div class="card-body mt-4">
                      <h5 class="card-title">Course Name</h5>
                      <p class="card-text">
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                      </p>
                      <p href="#" class="card-text text-center" style="color: white;">Click to know more</p>
                    </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card cardCourse p-3 h-100">
                    <div class="cardImage" style="background-image: url('static/images/2148784052.jpg');"></div>
                    <div class="card-body mt-4">
                      <h5 class="card-title">Course Name</h5>
                      <p class="card-text">
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                      </p>
                      <p href="#" class="card-text text-center" style="color: white;">Click to know more</p>
                    </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card cardCourse p-3 h-100">
                    <div class="cardImage" style="background-image: url('static/images/2148784052.jpg');"></div>
                    <div class="card-body mt-4">
                      <h5 class="card-title">Course Name</h5>
                      <p class="card-text">
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                      </p>
                      <p href="#" class="card-text text-center" style="color: white;">Click to know more</p>
                    </div>
                  </div>
              </div>
              <div class="col">
                  <div class="card cardCourse p-3 h-100">
                    <div class="cardImage" style="background-image: url('static/images/2148784052.jpg');"></div>
                    <div class="card-body mt-4">
                      <h5 class="card-title">Course Name</h5>
                      <p class="card-text">
                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                      </p>
                      <p href="#" class="card-text text-center" style="color: white;">Click to know more</p>
                    </div>
                  </div>
              </div>
            </div>
  
            <div class="mt-3">
              <button type="button" class="btn showBtn border-1">Show More</button><span class="fs-2 fw-bold" style="margin-left: 10px; color: rgba(12,51,74, 1)">&#x2192;</span>
            </div>
  
           </div>
          </div>
          </div>
        </section>

      <section class="mb-5">
        <div class="container-fluid">
          <div class="card rounded-4 pt-5 pb-5 border-0" >
        <div class="container" data-aos="fade-up" data-aos-duration="1000">

          <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Our <span style="color: #75D457">Clients</h2>
          <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px;">Trusted by Industry Leaders Worldwide</h6>

          <div class="owl-carousel owl-theme carousel-3">
            <div class="item p-3">
              <div class="card border-1" style="border-radius: 10px; border: 1px solid #0C334A;">
                <div class="clientImage" style="background-image: url('static/images/5.webp');"></div>
              </div>
            </div>
            <div class="item p-3">
              <div class="card" style="border-radius: 10px; border: 1px solid #0C334A;">
                <div class="clientImage" style="background-image: url('static/images/5.webp');"></div>
              </div>
            </div>

          </div>
        </div>
          </div>
        </div>
      </section>

      <section class="mt-5 mb-5">
        <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0" style="height: 500px;" >
          <div class="container" data-aos="fade-up" data-aos-duration="1000">

            <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Join Our <span style="color: #75D457">Team</h2>
            <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px;">Join. Grow. Succeed.</h6>

            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col-md-4">
                <div class="card" style="border-radius: 10px; height: 200px;">
                  <div class="card-body">
                    <h5 class="card-title">Career Title</h5>
                    <br>
                    <h6 class="card-subtitle mb-2 text-body-secondary"><i class='bx bxs-briefcase-alt-2'></i> Full Time</h6>
                    <p class="card-text">Job Description</p>
                    <button type="button" class="btn showBtn border-1">Apply Now</button>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="h-90 d-flex justify-content-center align-items-center">
<!--                  <div class="background-image" style="background-image: url('static/images/4591482_2410566.jpg'); height: 45vh; border-radius: 10px; box-shadow: 5px 5px #75D457;"></div>-->
                <div role="progressbar" class="mt-2 mb-2" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="--value:77"></div>

                </div>
              </div>
            </div>
            <div class="mt-3">
              <button type="button" class="btn showBtn border-1">Show More</button><span class="fs-2 fw-bold" style="margin-left: 10px; color: rgba(12,51,74, 1)">&#x2192;</span>
            </div>
          </div>
          </div>
        </div>
      </section>

      <section class="mt-5">
        <div class="container-fluid">
          <div class="card rounded-4 pt-5 pb-5 border-0">
            <div class="container" data-aos="fade-up" data-aos-duration="1000">
      
              <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">What Our <span style="color: #75D457">Client</span> Says</h2>
              <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px;">Hear from Our Satisfied Trainees and Partners</h6>
      
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col d-flex">
                  <div class="card border-0 rounded-4 h-100">
                    <video class="card-img rounded-4" autoplay muted loop>
                      <source src="static/videos/test.mp4" type="video/mp4">
                    </video>
                  </div>
                </div>
                <div class="col d-flex">
                  <div class="card border-0 rounded-4 h-100">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner h-100">
                        <div class="carousel-item active h-100">
                          <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="card rounded-4 w-100">
                              <div class="card-body">
                                <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                                <h5 class="card-title text-center">Name</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary text-center">Position</h6>
                              </div>
                              <div class="test-image rounded-circle bg-image mb-3" style="background-image: url('static/images/2150709932.jpg');"></div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item h-100">
                          <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="card rounded-4 w-100">
                              <div class="card-body">
                                <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                                <h5 class="card-title text-center">Name</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary text-center">Position</h6>
                              </div>
                              <div class="test-image rounded-circle bg-image mb-3" style="background-image: url('static/images/2150709932.jpg');"></div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item h-100">
                          <div class="d-flex justify-content-center align-items-center h-100">
                            <div class="card rounded-4 w-100">
                              <div class="card-body">
                                <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                                <h5 class="card-title text-center">Name</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary text-center">Position</h6>
                              </div>
                              <div class="test-image rounded-circle bg-image mb-3" style="background-image: url('static/images/2150709932.jpg');"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>      

      <section class="mt-5">
        <div class="container-fluid">
          <div class="card rounded-4 pt-5 pb-5 border-0" >
            <div class="container" data-aos="fade-up" data-aos-duration="1000">

              <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Our <span style="color: #75D457">Locations</span> </h2>
              <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px; ">Global Presence, Local Expertise</h6>

              <div class="row row-cols-1 row-cols-md-1">
                <div class="col">
                  <div class="card h-100 border-1" style="border-radius: 10px;">
                  <div class="background-image" style="background-image: url('static/images/map.png'); height: 70vh; border-radius: 10px;"></div>
                  </div>
                </div>
              </div>
              <div class="container mt-5">
                <div class="row row-cols-2 row-cols-md-4 g-3">
                    <div class="col">
                        <div class="card h-100 border-0">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/0C334A/marker.png" alt="marker" />
                                    Canada
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/0C334A/marker.png" alt="marker" />
                                    UK
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/0C334A/marker.png" alt="marker" />
                                    India
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 border-0">
                            <div class="card-body text-center">
                                <h5 class="card-title">
                                    <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/0C334A/marker.png" alt="marker" />
                                    Qatar
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
            </div>
          </div>
        </div>
      </section>


    </div>

<br>
<br>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

      <div class="card border-0" style="height: 63vh;width: 1340px; border-radius: 20px; margin:15px">
        <div class="container">
          <br>
          <div class="card border-0 mb-3 bg-transparent">
            <div class="row g-0">
              <div class="col-md-5">
                <div class="background-image" style="background-image: url('static/images/19222.jpg'); height: 55vh; border-radius: 10px;"></div>
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 30px">Drive Business Excellence with</h5>
                    <h5 class="card-title" style="font-size: 30px">Expert Training Programs</h5>
                  <ul class="list-group mt-3 mb-3 ">
                    <li class="list-group-item bg-transparent border-0" style='font-size: 14px'><i class='bx bxs-hand-right' style='color:#0056d2; font-size: 15px'></i>Strengthen critical skills with content you can trust</li>
                    <li class="list-group-item bg-transparent border-0" style='font-size: 14px'><i class='bx bxs-hand-right' style='color:#0056d2; font-size: 15px'></i>Develop, retain, and advance critical talent</li>
                    <li class="list-group-item bg-transparent border-0" style='font-size: 14px'><i class='bx bxs-hand-right' style='color:#0056d2; font-size: 15px'></i>Lower training costs without sacrificing quality</li>
                    <li class="list-group-item bg-transparent border-0" style='font-size: 14px'><i class='bx bxs-hand-right' style='color:#0056d2; font-size: 15px'></i>Track and measure skills to demonstrate ROI</li>
                  </ul>
                  <a href="/partner-profile" class="btn enrollBtn" style="margin-left: 150px;">Contact Us</a>
                  <div class="container mb-5" style="width: 200px; margin-left: 450px; margin-top: -322px;">
                    <div class="card custom-card border-0">
                      <!-- First Row -->
                      <div>
                        <p class="card-content">Expert Trainers</p>
                        <div class="horizontal-line"></div>
                      </div>
                  
                      <!-- Second Row -->
                      <div>
                        <p class="card-content">Unique Offerings</p>
                        <div class="horizontal-line"></div>
                      </div>
                  
                      <!-- Third Row -->
                      <div>
                        <p class="card-content">Comprehensive Training</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="">
        <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0 mt-5 mb-5" >

          <div class="container" data-aos="fade-up" data-aos-duration="1000">
              <div class="owl-carousel owl-theme carousel-2">
                <div class="item p-2">
                  <div class="card rounded-4 homeCard">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                    </div>
                    <div class="card-footer text-end">
                      <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                    </div>
                  </div>
                </div>
                <div class="item p-2">
                  <div class="card rounded-4  homeCard">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                    </div>
                    <div class="card-footer text-end">
                      <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                    </div>
                  </div>
                </div>
                <div class="item p-2">
                  <div class="card rounded-4  homeCard">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">ECITB International MJI: Hand Torque, Hydraulically Torque and Tension Bolted Connection Techniques (IMJI 10-20)</h5>
                    </div>
                    <div class="card-footer text-end">
                      <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                    </div>
                  </div>
                </div>
                <div class="item p-2">
                  <div class="card rounded-4  homeCard">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                    </div>
                    <div class="card-footer text-end">
                      <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                    </div>
                  </div>
                </div>
                <div class="item p-2">
                  <div class="card rounded-4 homeCard">
                    <div class="card-body">
                      <h5 class="card-title fw-bold">NEBOSH International General Certificate</h5>
                    </div>
                    <div class="card-footer text-end">
                      <button type="button" class="btn enrollBtn">Enroll Now &nbsp;<span class="fw-bold"><i class='bx bx-right-arrow-alt'></i></span></button>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        </div>
        </div>

        <div class="container-fluid mb-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="card rounded-4 border-0">
            <div class="container-fluid">
              <div class="row row-cols-1 row-cols-md-2 g-0 p-5">
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                  <div class="card  bg-transparent border-0">
                    <div class="card-body">
                      <h3 class="card-title" style="color: #0C334A">Internationally</h3>
                      <h3 class="card-title" style="color: #0C334A">Accredited By</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <div class="card rounded-4 border-0">
                    <div class="owl-carousel owl-theme carousel-1">
                        <div class="item p-3">
                          <div class="card rounded-4 border-0">
                            <img src="static/images/9.webp" class="card-img-top rounded-4" alt="...">
                          </div>
                        </div>
                        <div class="item p-3">
                          <div class="card rounded-4 border-0" style="border: 1px solid #75D457;">
                            <img src="static/images/9.webp" class="card-img-top rounded-4 " alt="...">
                          </div>
                        </div>
                        <div class="item p-3">
                          <div class="card rounded-4   border-0">
                            <img src="static/images/9.webp" class="card-img-top rounded-4 " alt="...">
                          </div>
                        </div>
                        <div class="item p-3">
                          <div class="card rounded-4   border-0">
                            <img src="static/images/9.webp" class="card-img-top rounded-4 " alt="...">
                          </div>
                        </div>
                        <div class="item p-3">
                          <div class="card rounded-4   border-0">
                            <img src="static/images/9.webp" class="card-img-top rounded-4 " alt="...">
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container-fluid position-relative">
      
          <!-- Content Section -->
          <div class="card rounded-4 pt-5 pb-5 border-0 position-relative" 
               style="background: #0C334A; z-index: 2;">
                           <!-- Background Image Layer -->
          <div 
          class="bg-image-layer position-absolute w-100 h-100"
          style="background-image: url('static/images/lloyds-bureau-horizontal-logo-white-rgb-1900px-w-72ppi.png'); 
                 background-position: center; 
                 background-size: contain ;
                 opacity: 0.06; 
                 top: 10px;
                 z-index: 1;">
        </div>
            <div class="container">
              <div 
                class="row row-cols-1 row-cols-md-2 g-4 p-4 align-items-stretch"
                data-aos="fade-up" 
                data-aos-duration="1000">
      
                <!-- Left Container -->
                <div class="col d-flex">
                  <div class="card bg-transparent border-0 text-white w-100">
                    <div class="card-body d-flex flex-column">
                      <h1 class="fw-bold mb-3" style="font-size: 40px;">Get to know us</h1>
                      <p class="lh-lg" style="font-size: 15px;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book.
                      </p>
                      <div class="">
                        <button class="btn btn-light mt-3" style="border-radius: 10px; height: 50px; text-align: center;">Explore More</button>
                      </div>
                    </div>
                  </div>
                </div>
      
                <!-- Right Container -->
                <div class="col d-flex">
                  <div class="card bg-transparent border-0 text-white w-100">
                    <div class="card-body">
                      <ul class="list-unstyled">
                        <li class="pb-3 mt-3">
                          <h4 class="custom-h4">Who we are</h4>
                        </li>
                        <li class="pb-3 mt-3">
                          <h4 class="custom-h4">Our Quality Statement</h4>
                        </li>
                        <li class="pb-3 mt-3">
                          <h4 class="custom-h4">Our Impartiality Statement</h4>
                        </li>
                        <li class="pb-3 mt-3">
                          <h4 class="custom-h4">Our Commitments</h4>
                        </li>
                        <li class="pb-3 mt-3">
                          <h4 class="custom-h4">Certification and Accreditations</h4>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 

      <section class="mt-5 mb-5">
        <div class="container-fluid">
          <div class="card rounded-4 pt-5 pb-5 border-0" >
        <div class="container" data-aos="fade-up" data-aos-duration="1000">

          <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Most <span style="color: #75D457">Demanded</span> Courses</h2>
          <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px; ">Elevate Your Skills with Our Top-Rated Programs</h6>

          <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card cardCourse p-3 h-100">
                  <div class="cardImage" style="background-image: url('static/images/2148784052.jpg');"></div>
                  <div class="card-body mt-4">
                    <h5 class="card-title">Course Name</h5>
                    <p class="card-text">
                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    </p>
                    <p href="#" class="card-text text-center" style="color: white;">Click to know more</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardCourse p-3 h-100">
                  <div class="cardImage" style="background-image: url('static/images/2148784052.jpg');"></div>
                  <div class="card-body mt-4">
                    <h5 class="card-title">Course Name</h5>
                    <p class="card-text">
                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    </p>
                    <p href="#" class="card-text text-center" style="color: white;">Click to know more</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardCourse p-3 h-100">
                  <div class="cardImage" style="background-image: url('static/images/2148784052.jpg');"></div>
                  <div class="card-body mt-4">
                    <h5 class="card-title">Course Name</h5>
                    <p class="card-text">
                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    </p>
                    <p href="#" class="card-text text-center" style="color: white;">Click to know more</p>
                  </div>
                </div>
            </div>
            <div class="col">
                <div class="card cardCourse p-3 h-100">
                  <div class="cardImage" style="background-image: url('static/images/2148784052.jpg');"></div>
                  <div class="card-body mt-4">
                    <h5 class="card-title">Course Name</h5>
                    <p class="card-text">
                      The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    </p>
                    <p href="#" class="card-text text-center" style="color: white;">Click to know more</p>
                  </div>
                </div>
            </div>
          </div>

          <div class="mt-3">
            <button type="button" class="btn showBtn border-1">Show More</button><span class="fs-2 fw-bold" style="margin-left: 10px; color: rgba(12,51,74, 1)">&#x2192;</span>
          </div>

         </div>
        </div>
        </div>
      </section>

    <section class="mb-5">
      <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0" >
      <div class="container" data-aos="fade-up" data-aos-duration="1000">

        <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Our <span style="color: #75D457">Clients</h2>
        <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px;">Trusted by Industry Leaders Worldwide</h6>

        <div class="owl-carousel owl-theme carousel-3">
          <div class="item p-3">
            <div class="card border-1" style="border-radius: 10px; border: 1px solid #0C334A;">
              <div class="clientImage" style="background-image: url('static/images/5.webp');"></div>
            </div>
          </div>
          <div class="item p-3">
            <div class="card" style="border-radius: 10px; border: 1px solid #0C334A;">
              <div class="clientImage" style="background-image: url('static/images/5.webp');"></div>
            </div>
          </div>

        </div>
      </div>
        </div>
      </div>
    </section>

    <section class="mt-5 mb-5">
      <div class="container-fluid">
      <div class="card rounded-4 pt-5 pb-5 border-0" >
        <div class="container" data-aos="fade-up" data-aos-duration="1000">

          <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Join Our <span style="color: #75D457">Team</h2>
          <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px;">Join. Grow. Succeed.</h6>

          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-md-4">
              <div class="card h-90" style="border-radius: 10px">
                <div class="card-body">
                  <h5 class="card-title">Career Title</h5>
                  <br>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><i class='bx bxs-briefcase-alt-2'></i>Full Time</h6>
                  <p class="card-text">Job Description</p>
                  <button type="button" class="btn showBtn border-1">Apply Now</button>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="h-90 d-flex justify-content-center align-items-center">
<!--                  <div class="background-image" style="background-image: url('static/images/4591482_2410566.jpg'); height: 45vh; border-radius: 10px; box-shadow: 5px 5px #75D457;"></div>-->
              <div role="progressbar" class="mt-2 mb-2" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="--value:77"></div>

              </div>
            </div>
          </div>
          <div class="mt-3">
            <button type="button" class="btn showBtn border-1">Show More</button><span class="fs-2 fw-bold" style="margin-left: 10px; color: rgba(12,51,74, 1)">&#x2192;</span>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="mt-5">
      <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0">
          <div class="container" data-aos="fade-up" data-aos-duration="1000">
    
            <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">What Our <span style="color: #75D457">Client</span> Says</h2>
            <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px;">Hear from Our Satisfied Trainees and Partners</h6>
    
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col d-flex">
                <div class="card border-0 rounded-4 h-100">
                  <video class="card-img rounded-4" autoplay muted loop>
                    <source src="static/videos/test.mp4" type="video/mp4">
                  </video>
                </div>
              </div>
              <div class="col d-flex">
                <div class="card border-0 rounded-4 h-100">
                  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner h-100">
                      <div class="carousel-item active h-100">
                        <div class="d-flex justify-content-center align-items-center h-100">
                          <div class="card rounded-4 w-100">
                            <div class="card-body">
                              <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                              <h5 class="card-title text-center">Name</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary text-center">Position</h6>
                            </div>
                            <div class="test-image rounded-circle bg-image mb-3" style="background-image: url('static/images/2150709932.jpg');"></div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item h-100">
                        <div class="d-flex justify-content-center align-items-center h-100">
                          <div class="card rounded-4 w-100">
                            <div class="card-body">
                              <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                              <h5 class="card-title text-center">Name</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary text-center">Position</h6>
                            </div>
                            <div class="test-image rounded-circle bg-image mb-3" style="background-image: url('static/images/2150709932.jpg');"></div>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item h-100">
                        <div class="d-flex justify-content-center align-items-center h-100">
                          <div class="card rounded-4 w-100">
                            <div class="card-body">
                              <p class="card-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock</p>
                              <h5 class="card-title text-center">Name</h5>
                              <h6 class="card-subtitle mb-2 text-body-secondary text-center">Position</h6>
                            </div>
                            <div class="test-image rounded-circle bg-image mb-3" style="background-image: url('static/images/2150709932.jpg');"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>      

    <section class="mt-5">
      <div class="container-fluid">
        <div class="card rounded-4 pt-5 pb-5 border-0" >
          <div class="container" data-aos="fade-up" data-aos-duration="1000">

            <h2 class="card-title fw-bold" style="font-size: 38px; color: #0C334A;">Our <span style="color: #75D457">Locations</span> </h2>
            <h6 class="card-subtitle mt-3 mb-5 text-body-secondary" style="font-size: 18px; ">Global Presence, Local Expertise</h6>

            <div class="row row-cols-1 row-cols-md-1">
              <div class="col">
                <div class="card h-100 border-1" style="border-radius: 10px;">
                <div class="background-image" style="background-image: url('static/images/map.png'); height: 70vh; border-radius: 10px;"></div>
                </div>
              </div>
            </div>
            <div class="container mt-5">
              <div class="row row-cols-2 row-cols-md-4 g-3">
                  <div class="col">
                      <div class="card h-100 border-0">
                          <div class="card-body text-center">
                              <h5 class="card-title">
                                  <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/0C334A/marker.png" alt="marker" />
                                  Canada
                              </h5>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card h-100 border-0">
                          <div class="card-body text-center">
                              <h5 class="card-title">
                                  <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/0C334A/marker.png" alt="marker" />
                                  UK
                              </h5>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card h-100 border-0">
                          <div class="card-body text-center">
                              <h5 class="card-title">
                                  <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/0C334A/marker.png" alt="marker" />
                                  India
                              </h5>
                          </div>
                      </div>
                  </div>
                  <div class="col">
                      <div class="card h-100 border-0">
                          <div class="card-body text-center">
                              <h5 class="card-title">
                                  <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/0C334A/marker.png" alt="marker" />
                                  Qatar
                              </h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>        
          </div>
        </div>
      </div>
    </section>


  </div>



    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">

      <div class="card border-0" style="background: #f5f7f8;">
        <div class="container">
          <div class="card border-0 mb-3 bg-transparent">
            <div class="row g-0">
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title justify-content-center" style="font-size: 32px;">Enhance Public Service with Specialized Training Programs</h5>
                  <p class="card-tile fw-light lh-base justify-content-center" style="font-size: 18px;">Drive sustainable industrial growth and build a competitive workforce with accredited training from leading industry experts.</p>
                  <br>
                  <div class="text-center">
                    <a href="/partner-profile" class="btn enrollBtn">Contact Us</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="background-image" style="background-image: url('static/images/2147838542.jpg'); height: 55vh; border-radius: 10px;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container mb-5" style="margin-top: -100px; width: 500px; margin-left: 130px;">
        <div class="card border-0" style="background: #0C334A; border-radius: 10px; height: 80px;">
          <div class="row g-0 h-100">
            <div class="col d-flex align-items-center justify-content-center position-relative">
              <p class="card-content text-white text-center">Expert Trainers</p>
            </div>
            <div class="col d-flex align-items-center justify-content-center position-relative">
              <p class="card-content text-white text-center">Unique Offerings</p>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
              <p class="card-content text-white text-center">Comprehensive Training</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>

    <style>
  /* Custom card styling */
  .custom-card {
    background: #0C334A;
    border-radius: 10px;
    height: 55vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .custom-card .card-content {
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 0;
  }

  /* Divider line style */
  .horizontal-line {
    width: 70%;
    height: 1px;
    background-color: #ffffff32;
    margin: 60px auto;
    text-align: center;
  }

  .indicator {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 50px;
    transform: rotate(45deg);
  }
  .indicator span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    animation: animate 1s linear infinite;
  }
  .indicator span:nth-child(1) {
    top: -30px;
    left: -30px;
    animation-delay: 0s;
  }
  .indicator span:nth-child(2) {
    top: -15px;
    left: -15px;
    animation-delay: 0.2s;
  }
  .indicator span:nth-child(3) {
    top: 0;
    left: 0;
    animation-delay: 0.4s;
  }
  .indicator span:nth-child(4) {
    top: 15px;
    left: 15px;
    animation-delay: 0.6s;
  }
  .indicator span:nth-child(5) {
    top: 30px;
    left: 30px;
    animation-delay: 0.8s;
  }
  @keyframes animate {
    0% {
      border-color: #fff;
      transform: translate(0, 0);
    }
    20% {
      border-color: #fff;
      transform: translate(15px, 15px);
    }
    20.1%,
    100% {
      border-color: #ffd64a;
    }
  }
    </style>

{% endblock %}