<div class="fixedTop">
  <!-- Top bar -->
<div class="d-none d-lg-block">
  <div class="top-bar">
    <div class="container d-flex justify-content-end align-items-center mx-auto">
      <ul class="list-styled mb-0 d-flex" id="contact-info">
        <li>
          <a href="#" class="text-align-right fw-bold top-bar-link">
            <i class="fa-solid fa-phone-volume icon mx-2"></i> {{ phone }}
          </a>
        </li>
        <li class="text-dark mx-2">|</li>
        <li>
          <a href="mailto:lbcertifications@gmail.com" class="text-align-right fw-bold top-bar-link">
            <i class="fa-regular fa-envelope icon mx-2"></i> lbcertifications@gmail.com
          </a>
        </li>
        <li class="text-dark mx-2">|</li>
        <li>
          <a href="#" class="text-align-right fw-bold top-bar-link">
            <i class="fa-regular fa-file icon mx-2"></i> Verify Certificate
          </a>
        </li>
      </ul>        
    </div>
  </div>
</div>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="static/images/logo.png" alt="Logo" class="logo">
      </a>
      <button class="navbar-toggler togglerButton" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
              aria-label="Toggle navigation">
        <img src="static/images/icons8-menu.gif" alt="Menu Icon" style="height: 24px;">
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav d-flex gap-2">
          <li class="nav-item">
            <a class="nav-link styled-link" href="/about-us">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link styled-link" href="/collection">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link styled-link" href="/training-courses">Training Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link styled-link" href="/careers">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link styled-link" href="/news-blogs">News & Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link styled-link" href="/contact">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link styled-link" href="static/files/brochure.pdf" download>
              <img src="static/images/download.gif" alt="Download Brochure" style="height: 30px; width: auto;">
            </a>
          </li>
          <li class="nav-item dropdown" id="portalsDropdown">
            <a class="nav-link styled-link" href="#">Portals</a>
            <div class="dropdown-menu position-absolute" style="display: none; top: 100%; left: 0; border-radius: 0px;">
              <a class="dropdown-item" href="#">Student Portal</a>
              <a class="dropdown-item" href="#">Customer Portal</a>
              <a class="dropdown-item" href="#">Vendor Portal</a>
              <a class="dropdown-item" href="#">Employee Portal</a>
            </div>
          </li>
        </ul>
      </div>

<!-- Load Lottie Player -->
<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>

<!-- Lottie Animation Link Button -->
<a class="nav-link styled-link" href="#our-locations" style="display: flex; align-items: center; justify-content: center; width: 35px; height: 35px;">
  <dotlottie-player 
    src="https://lottie.host/a0c08b52-c0ba-49f5-878d-02585178a7cc/5dO39dyEu4.lottie"
    background="transparent"
    speed="1"
    style="width: 100%; height: 100%;"
    direction="1"
    playMode="normal"
    loop
    autoplay>
  </dotlottie-player>
</a>

      <form method="POST" action="/" class="d-flex">
        <select name="country" class="form-select fw-bold custom-dropdown border-0 focus-border-none" style="text-align: center; border: none;" onchange="this.form.submit()">
          <option value="Canada" {% if country == 'Canada' %}selected{% endif %}>Canada</option>
          <option value="UK" {% if country == 'UK' %}selected{% endif %}>UK</option>
          <option value="Qatar" {% if country == 'Qatar' %}selected{% endif %}>Qatar</option>
          <option value="India" {% if country == 'India' %}selected{% endif %}>India</option>
        </select>
      </form>
    </div>
  </nav>
</div>

<!-- JavaScript for Auto Dropdown -->
<script>
  const portalsDropdown = document.getElementById('portalsDropdown');
  const dropdownMenu = portalsDropdown.querySelector('.dropdown-menu');

  portalsDropdown.addEventListener('mouseenter', () => {
    dropdownMenu.style.display = 'block';
  });

  portalsDropdown.addEventListener('mouseleave', () => {
    dropdownMenu.style.display = 'none';
  });
</script>
