<div class="fixedTop">

  <!-- Top bar-->
    <div class="d-none d-lg-block">
    <div class="top-bar">
      <div class="container d-flex justify-content-end align-items-center">
        <ul class="list-styled mb-0">
          <li><a href="#" class="text-align-center fw-bold"><i class='bx bx-phone-call'></i> +1 (780) 228-9651 </a></li>
          <li class="text-dark">|</li>
          <li><a href="#" class="text-align-center fw-bold"><i class='bx bxs-envelope mx-1'></i>lbcertifications@gmail.com</a></li>
          <li class="text-dark">|</li>
          <li><a href="#" class="text-align-center fw-bold"><i class='bx bx-search-alt' ></i> Verify Certificate</a></li>
        </ul>
      </div>
    </div>
    </div>

<nav class="navbar navbar-expand-lg" >
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="static/images/logo.png" alt="Bootstrap" class="logo"></a>
    <button class="navbar-toggler togglerButton" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<!--      <span class="navbar-toggler-icon"></span>--><img src="static/images/icons8-menu.gif" alt="Menu Icon" style="height: 24px;">
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav d-flex gap-2">
        <li class="nav-item">
          <a class="nav-link navItem active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item navItem">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <li class="nav-item navItem">
          <a class="nav-link" href="/training-courses">Training Courses</a>
        </li>
        <li class="nav-item navItem">
          <a class="nav-link" href="/collection">Services</a>
        </li>
<!--        <li class="nav-item navItem">-->
<!--          <a class="nav-link" href="/gallery">Industry Links</a>-->
<!--        </li>-->
<!--        <li class="nav-item navItem">-->
<!--          <a class="nav-link" href="/collection">Verify Certificate</a>-->
<!--        </li>-->
        <li class="nav-item navItem">
          <a class="nav-link" href="/collection">Careers</a>
        </li>
<!--        <li class="nav-item navItem">-->
<!--          <a class="nav-link" href="/collection">Gallery</a>-->
<!--        </li>-->
        <li class="nav-item navItem">
          <a class="nav-link" href="/collection">News & Blogs</a>
        </li>
        <li class="nav-item navItem">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
      <div class="d-lg-none">
        <ul class="navbar-nav d-flex gap-2 mb-4">
          <li class="nav-item navItem">
            <a href="#" class="nav-link text-align-center fw-bold"><i class='bx bx-phone-call'></i> +1 (780) 228-9651 </a>
          </li>
          <li class="nav-item navItem">
            <a href="#" class="nav-link text-align-center fw-bold"><i class='bx bxs-envelope mx-1'></i>lbcertifications@gmail.com</a>
          </li>
          <li class="nav-item navItem">
            <a href="#" class="nav-link text-align-center fw-bold"><i class='bx bx-search-alt' ></i> Verify Certificate</a>
          </li>
        </ul>
        <div class="dropdown">
          <button class="btn btn-secondary countryButton dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">India</button>
          <ul class="dropdown-menu custom-dropdown-menu" style="border: 1px solid #0C334A;">
            <li><a class="dropdown-item custom-dropdown-item fw-bold" href="/">Canada</a></li>
            <li><a class="dropdown-item custom-dropdown-item fw-bold" href="#UK">UK</a></li>
            <li><a class="dropdown-item custom-dropdown-item fw-bold" href="#Canada">Qatar</a></li>
            <li><a class="dropdown-item custom-dropdown-item fw-bold" href="#Canada">India</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="d-none d-lg-block">
      <div class="dropdown">
        <button class="btn btn-secondary countryButton dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">India</button>
        <ul class="dropdown-menu custom-dropdown-menu" style="border: 1px solid #0C334A;">
          <li><a class="dropdown-item custom-dropdown-item fw-bold" href="/">Canada</a></li>
          <li><a class="dropdown-item custom-dropdown-item fw-bold" href="#UK">UK</a></li>
          <li><a class="dropdown-item custom-dropdown-item fw-bold" href="#Canada">Qatar</a></li>
          <li><a class="dropdown-item custom-dropdown-item fw-bold" href="#Canada">India</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

</div>